body {
  background-color: #f9f9ff;
  width: 100%;
  display:inline-flex;
  font-family: 'Bevan', cursive;
  margin: 0px;

}

header{
  background-image:url("https://s-media-cache-ak0.pinimg.com/originals/02/a2/86/02a286b1f48309099dca00188ea56628.jpg");
  background-size:100%;
  background-position: left;
  color: white;
  text-align: center;
  padding: 50px 50px;
  margin: 0px 0px auto 0px;
  /*position:fixed;
  width:100%;*/
}

audio{
  width: 500px;
}

#playing{
  color:black;
  background-color: white;
  width:40%;
  margin-left:30%;
}

.container{
  width:100%;
}

h1{
  text-align: center;
}

.player{
  text-align: center;
}

.search-bar{
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  margin: 20px;
  /*position: relative;
  top: 250px;*/
}
#search-box{
  width: 300px;
  margin: 10px auto;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 1.2em;
  border-radius: 3px;
}

#search-button{
  font-size:1.1em;
  border-radius: 3px;
  background-color: #f9f9ff;
}

.results {
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /*position: relative;
  top:300px;*/
}

.results div{
  width: 19%;
  margin: 2px;
}

p{
  font-size: 0.7em;
  color: rgb(20, 0, 78);
}
h4{
  /*color: rgb(20, 0, 78);*/
}
