body {
  background-color: #60d9f1;
  width: 1000px;
  display:flex;
}
h1{
  text-align: center;
}
.player{
  text-align: center;
}
.search-bar{
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  margin: 20px;
}
#search-box{
  width: 400px;
}
.results {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.results div{
  width: 20%;
}
